# dependencies
node_modules/
.pnpm-store/
.pnpm-debug.log*

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/
server/dist/
client/build/
client/.next/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
*.env



# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
